body {
  font-family: "Roboto", sans-serif;
  max-width: 1480px;
  padding: 63px 100px 30px;
  margin: 0 auto;
  
}
header {
  margin-bottom: 50px;
}
.logo {
  margin-bottom: 40px;
}
.logo a {
  text-decoration: none;
  color: #000;
  text-align: center;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.logo a span {
  color: #4bcaff;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header-list-menu {
  display: flex;
  justify-content: center;
  background-color: #35444f;
  list-style-type: none;
}
.list-item {
  align-items: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 20px 30px 20px 30px;
  border-left: 1px solid #ffffff;
}
.list-item:hover {
  background-color: #222f3a;
}
.list-item-border {
  border-right: 1px solid #ffffff;
}
.list-item a {
  color: #fff;
  text-decoration: none;
}

.sidebar-menu {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border: 1px solid #000;
  width: 344px;
  list-style-type: none;
}
.sidebar-item {
  display: block;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  padding: 27px;
  color: #485863;
}
.sidebar-item:hover {
  padding-left: 65px;
  background-color: #dbdbdb;
  color: #000;
}
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 885px;
}
img {
  display: block;
  max-width: 100%;
  border: 1px solid #000;
  padding: 75px 265px 73px 297px;
  margin-bottom: 37px;
  transition: transform 0.25s;
}
.photo:hover img {
  transform: scale(1.1);
  border: none;
}
.photo {
  overflow: hidden;
}
.flex-position {
  display: flex;
  justify-content: start;
  gap: 50px;
}
main p {
  color: #2c2c2c;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.first-text {
  margin-bottom: 13px;
}

.second-text {
  margin-bottom: 54px;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  width: 875px;
  list-style-type: none;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: rgba(99, 105, 110, 0.48);
}
.footer-item {
  color: #0c1927;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.footer-item:hover {
  color: #3181a6;
  border-bottom: 1px solid #3181a6;
}
footer p {
  color: #010101;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
