* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.container{
    width: 856px;
    margin:0 auto
    
}


.menu{
    width: 635px;
    margin: 0 auto;
    list-style-type: none;
    
    
}

.menu-item {
    display: inline-block;
    margin-right: 72px;
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    
}
.menu-item:last-child{
    margin-right: 0;
}

.menu-item a{
    color: #000000;
    text-decoration: none;
    
}
.banner{
    width:100%;
    height: auto;
}
.banner img{
    width: 100%;
    
}

.title{
    display: block;
    justify-content: center;
    width: 635px;
    height: 65px;
    margin: 0 auto;
    margin-top: 88px;
    font-size: 48px;
    font-weight: 400; /*не можу зрозуміти  чому така велика різниця шрифту з макетом при однаковому показнику font-weight: 600; поставила 400.*/
    font-family: 'inter';
    color: #000000;
    
}

.title span{
    font-weight: 700;
    color: #000000;
}
.main-text{
    display: block;
    margin-top: 40px;
    font-family: 'inter';
    font-size: 21px;
    line-height: 31.5px;
    /*font-weight: 500;  -коментую  жирність ,бо також не розумію чи треба виставляти таку жирність,якщо в макеті це так не виглядає.*/
    color: #161616;
    
}
.blue-main-text{

    color: #04959E;
}
.text-list{
    display: block;
    margin-top: 24px;

}
.text-list-item{
   
    line-height: 27px;
    font-family: 'inter';
    font-size: 18px;
    font-weight: 400;
    color: #000000;

}
.button-box{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 108px;
   


   
}
.button{
    width: 145px;
    height: 44px;
    background-color: #04959E;
    color: #FFFFFF;
    border: 0;
    font-family: 'inter';
    font-size: 18px;
    font-weight: 200; /*те  саме з жирністю. не знаю чи це законно.але поставила такий який ближче до макета*/
    line-height: 24px;

}
.button:hover{
    background-color: #4fbfc7;
    color: #FFFFFF;
}

.footer{
    width: 100%;
    height: 60px;
    border-top: 1px solid;
    text-align: center;
padding-top: 16px;
}
.footer-text{
    font-family: 'inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #000000;
}